# Ignore artifacts:
dist/
node_modules/
i18n-scripts/
yarn.lock
build/
package-lock.json
index.html
fonts.css
index.css
/coverage
/gui-test-screenshots
cypress/gui-test-screenshots
cypress/cypress-a11y-report.json
